<div class="form-group ">
  <!--*ngFor='#item of userSettings'-->
  <settings [userSettings]="userSettings | async"></settings>
  {{userSettings | async | json}}
</div>

<div class="form-group ">
  <div class="col-sm-1 col-sm-offset-2 top-buffer">
    <button type="submit" id="saveUserSettings" class="btn btn-primary" (click)=saveUserSettings(userSettings)>Зачувај промени</button>
    <!--[disabled]="!registerForm.valid"-->
  </div>
  <div class="col-sm-4 top-buffer">
    <a class="btn btn-default" id="BackToLoginPage" [routerLink]="['/Login']">Назад</a>
  </div>
</div>
