<div class="form-horizontal">
  <div class="container-fluid">

    <div class="form-group top-buffer">
      <settings [userSettings]="userSettings"></settings>
    </div>

    <div class="form-group top-buffer">
      <div class="col-sm-offset-2">
        <a class="btn btn-default" id="BackToLoginPage" [routerLink]="['/Home']">
          <span class="glyphicon glyphicon-chevron-left">&nbsp;</span>Назад
        </a>
        <button type="submit" id="saveUserSettings" class="btn btn-primary" (click)=saveUserSettings()>
          Зачувај промени
        </button>
      </div>
    </div>

  </div>
</div>
